*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 700px;
    height: auto;
    margin: 0px auto;
}
pre{
    font-size: larger;
    line-height: 30px;
}
body{
    background-color: #ecf7ff;
}
img{
    width: 20%;
    height: 20%;
}
.img{
    position: relative;
    left: 65px;
    transition: width 0.5s,height 0.5s;
    -moz-transition: width 0.5s,height 0.5s;	/* Firefox 4 */
    -webkit-transition: width 0.5s,height 0.5s;	/* Safari 和 Chrome */
    -o-transition: width 0.5s,height 0.5s;	/* Opera */
}
.img1{
    transition: width 0.5s,height 0.5s;
    -moz-transition: width 0.5s,height 0.5s;	/* Firefox 4 */
    -webkit-transition: width 0.5s,height 0.5s;	/* Safari 和 Chrome */
    -o-transition: width 0.5s,height 0.5s;	/* Opera */
}
img:hover{
    width: 100%;
    height: 100%;
    border: #cccccc 2px solid;
}
.nav{
    width: 200px;
    height: auto;
    float: left;
    border-right: #cccccc solid 1px;
    position: absolute;
    left: 0px;
}
.nav li a{
    font-size: larger;
    text-decoration: none;
    position: relative;
    left: 50px;
    color: #7a7a7a;
    -moz-transition: font-size 0.3s;	/* Firefox 4 */
    -webkit-transition: font-size 0.3s;	/* Safari 和 Chrome */
    -o-transition: font-size 0.3s;	/* Opera */
}
.nav li:hover{
    font-size: x-large;
    color: black;
}
.nav li{
    border: #cccccc solid 1px;
    list-style: none;
}
.teammates p{
    font-size: x-large;
}
.teammates li{
    background-color: #cccccc;
    margin-top: 20px;
    margin-right: 20px;
    display: inline-block;
    width: 170px;
    height: 170px;
    list-style: none;
    border: #cccccc solid 2px;
    -moz-transition: box-shadow 0.3s;	/* Firefox 4 */
    -webkit-transition: box-shadow 0.3s;	/* Safari 和 Chrome */
    -o-transition: box-shadow 0.3s;	/* Opera */
}
.teammates li:hover{
    position: relative;
    right: 10px;
    top: -10px;
    border: #dddddd solid 1px;
    box-shadow: 10px 10px 7px #888888;
}